body {
    background-color: var(--light-eggshell);
}

p {
    font-family: 'Montserrat';
}

.header {
    width: 100%;
    height: 50px;
    background-color: var(--dark-matt);
    display: flex;
    justify-content: end;
    align-items: center;

}

.header img {
    height: 30px;
    width: 30px;
}

.sidebar, .sidebar-toggle {
    background-color: var(--dark-matt);
}

.sidebar ul li a {
    color: var(--text-secondary);
    font-size: 1.2rem;
    font-family: 'MontserratMedium';
}

.sidebar ul li.active>a {
    color: #fff;
}

.app-name {
    font-family: 'MontserratBold';
    color: #fff;
}

.sidebar>h1 {
    font-size: 2rem;
}

@media screen and (min-width: 700px) {
    .sidebar-toggle {
        display: none;
    }
  }

  @media screen and (max-width: 700px) {
    img {
        height: auto !important;
    }
  }

button.sidebar-toggle {
    background-color: transparent;
}

body.close .sidebar-toggle {
    background-color: transparent;
}

img {
    width: 450px;
    height: 600px;
    object-fit: fill;
}


.markdown-section code {
    background-color: var(--dark-gray)
}